@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    src: url(assets/font/PlusJakartaSans-Light.woff2) format(woff2);
    font-family: "plusjakarta-light";
    font-display: swap;
}
@font-face {
    src: url(assets/font/PlusJakartaSans-Regular.woff2) format(woff2);
    font-family: "plusjakarta-regular";
    font-display: swap;
}
@font-face {
    src: url(assets/font/PlusJakartaSans-Medium.woff2) format(woff2);
    font-family: "plusjakarta-medium";
    font-display: swap;
}
@font-face {
    src: url(assets/font/PlusJakartaSans-SemiBold.woff2) format(woff2);
    font-family: "plusjakarta-semibold";
    font-display: swap;
}
@font-face {
    src: url(assets/font/PlusJakartaSans-Bold.woff2) format(woff2);
    font-family: "plusjakarta-bold";
    font-display: swap;
}
@font-face {
    src: url(assets/font/PlusJakartaSans-ExtraBold.woff2) format(woff2);
    font-family: "plusjakarta-extrabold";
    font-display: swap;
} */





html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #1f2b5f;
}

::selection {
  color: #fff;
  background: #1f2b5f;
}

.graphss::-webkit-scrollbar{
    width: 0px;
    background: rgb(255, 255, 255);
    }
    
.graphss::-webkit-scrollbar-thumb{
    background:#ecebeb;
    
    }
    
.graphss::-webkit-scrollbar-thumb:hover{
    background:#5e5c5c;
    cursor: pointer;
    }

body {
  /* max-width: 1550px; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* font-family: 'plusjakarta-regular', sans-serif; */
    overflow-x: hidden;
    color: #000000;
    background-color: rgb(255, 255, 255);
}



button:focus {
    outline: none;
}

a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

input,textarea{
    background: transparent;
    outline: none;
}

.headre-bg{
    background: rgba(255, 255, 255, 0.2);

backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);

}



.calculsss::-webkit-scrollbar{
width: 0;
height: 0px;
background: rgb(184, 184, 184);
}

.calculsss::-webkit-scrollbar-thumb{
background:#757272;

}

.calculsss::-webkit-scrollbar-thumb:hover{
background:#4b4b4b;
cursor: pointer;
}

 
.tradingview-widget-container{
    height: 600px !important;
} 

.tradingview-widget-copyright{
    display: none !important;
}

.linechat{
    width: 100% !important;
    height: 100% !important;
}
/* .js-chart .tv-widget-watch-list__chart{
    height: 10px !important;
} */


